<h2>Lista transakcji</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <td class="text-right">#</td>
        <td>Data</td>
        <td>Typ </td>
        <td class="text-right">Kwota</td>
        <td>Opis</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="transaction in transactions">
        <td class="text-right">{{ $index+1 }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.type }}</td>
        <td class="text-right">{{ transaction.amount | currency }}</td>
        <td>{{ transaction.description }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
</table>